#chisel-active-buffer {
  box-sizing: border-box;
  max-width: 660px;
  margin: 0 auto;
  padding: 6px 18px;

  background-color: #cccfd4;;
  border-radius: 4px;

}

#chisel-active-buffer .editable-area:focus {
  outline: none;
}
