<select id="chisel-heading-picker">
    <option value="h1">Heading 1</option>
    <option value="h2">Heading 2</option>
    <option value="h3">Heading 3</option>
    <option value="h4">Heading 4</option>
    <option value="h5">Heading 5</option>
    <option value="h6">Heading 6</option>
    <option value="p" selected="true">paragraph</option>
</select>